{#
    Default header

    Programmed with two logos, header disapears when scrolling down and reapears in a smaller form when scrolling up
    Has only one level of navigation

#}
{% set excludeItems = getPageLanguageContent(grabPageLanguage(page))|filter(x => x.elementDefinition.handle == 'vista')|length %}

<header class="eds-header {{ excludeItems == 0 ? 'eds-header--static' : '' }}">
    <div class="eds-header__wrapper eds-width--c12">
        <div class="eds-header__logo">
            <a href="{{ grabPageLanguageUrl(getSitePage('home')) }}">

                {# Big Logo variant and smaller Logo variant #}
                <img src="/assets/logo.svg" alt="" class="eds-header__logo--icon"/>

            </a>
        </div>
        <nav class="eds-header__nav">
            {# First level navigation #}
            {% for page in getChildrenPages('home') %}
                {% if grabPageLanguage(page).visible and grabPageLanguage(page).showInNavigation %}
                    <a href="{{ grabPageLanguageUrl(page.pageLanguages) }}" class="{{ currentPageBreadcrumb()|filter(x => x.handle == page.handle) ? 'eds-page--active' }}">
                        <span>{{ grabPageLanguage(page.pageLanguages).navName }}</span>
                    </a>

                    {% if not loop.last %}
                        <span class="eds-header__separator"><span class="eds-icon eds-icon--croce"></span></span>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </nav>
        {# Language Menu #}
        <div class="eds-header__lang">
            {% for pageLang in page.pageLanguages %}
                <a href="{{ grabPageLanguageUrl(pageLang) }}" class="{{ pageLang.language.shortName == grabPageLanguage(page.pageLanguages).language.shortName ? 'eds-lang--active' }}">
                    <span>{{ pageLang.language.shortName }}</span>
                </a>
            {% endfor %}
        </div>
        <div class="eds-header__menu-toggle js-menu-toggle">
            <span class="eds-icon eds-icon--menu"></span>
        </div>
    </div>
</header>