<div class="eds-legal-menu">
    <div class="eds-legal-menu__wrapper eds-width--c10 eds-padding--small">
        <div class="eds-legal-menu__links">
            {% if grabPageLanguageUrl(getSitePage('imprint')) %}
                <a class="eds-legal-menu__link" href="{{ grabPageLanguageUrl(getSitePage('imprint')) }}">
                    {{ grabPageLanguage(getSitePage('imprint')).navName }}
                </a>
            {% endif %}
            {% if grabPageLanguageUrl(getSitePage('privacy')) %}
                <a class="eds-legal-menu__link" href="{{ grabPageLanguageUrl(getSitePage('privacy')) }}">
                    {{ grabPageLanguage(getSitePage('privacy')).navName }}
                </a>
            {% endif %}
            {% if getConstant('tracking_settings') %}
                <a href="#" class="eds-legal-menu__link eds-tracking-banner__button-open">
                    {{ getConstant('tracking_settings') }}
                </a>
            {% endif %}
        </div>
        <div class="eds-legal-menu__credit">
            <img src="/assets/emma-design.svg" alt="Emma Design Studio">
        </div>
    </div>
</div>