<div class="eds-text-image {{ content.alignment }} {{ content.spacing_bottom }} invisible">
    <div class="eds-text-image__wrapper">
        <div class="eds-text-image__content eds-width--c5">
            <a class="eds-text-image__text-wrapper"
                {{ content.link ? 'href="' ~ generateLink(content.link) ~ '"' : '' }}
            >
                {% if content.decorations == 'eds-text-image--decorations-1' %}
                    <div class="eds-text-image__decorations">
                        <span class="eds-icon eds-icon--croce"></span>
                    </div>
                {% endif %}

                {% if content.decorations == 'eds-text-image--decorations-2' %}
                    <div class="eds-text-image__decorations">
                        <span class="eds-icon eds-icon--greca-text"></span>
                    </div>
                {% endif %}

{#                <div class="eds-text-image__headline eds-headline-v2">#}
{#                    {{ content.headline|formatHeadline }}#}
{#                </div>#}

                <div class="eds-text-image__main-text eds-richtext">
                    {{ content.richtext|raw }}
                </div>
{#                <div class="eds-text-image__link">#}
{#                    <a class="eds-link" href="{{ generateLink(content.link) }}">#}
{#                        <span>{{ content.label }}</span>#}
{#                    </a>#}
{#                </div>#}

                {% if content.decorations == 'eds-text-image--decorations-1' %}
                    <div class="eds-text-image__decorations">
                        <span class="eds-icon eds-icon--croce"></span>
                    </div>
                {% endif %}

                {% if content.decorations == 'eds-text-image--decorations-2' %}
                    <div class="eds-text-image__decorations">
                        <span class="eds-icon eds-icon--greca-text"></span>
                    </div>
                {% endif %}

            </a>

        </div>
        <div class="eds-text-image__image">
                {{ content.image|optimizeImage([
                    {
                        'imageWidth': '420',
                        'mediaMinWidth': '320',
                        'aspect_ratio': '4x3',
                        'compression': '5'
                    },
                    {
                        'imageWidth': '920',
                        'mediaMinWidth': '700',
                        'aspect_ratio': '4x3',
                        'compression': '5'
                    },
                    {
                        'imageWidth': '1224',
                        'mediaMinWidth': '1024',
                        'aspect_ratio': '1x1',
                        'compression': '5'
                    },
                    {
                        'imageWidth': '1400',
                        'mediaMinWidth': '1224',
                        'aspect_ratio': '1x1',
                        'compression': '5'
                    }
                ]) }}

        </div>


    </div>
</div>