<div class="eds-vista {{ content.spacing_bottom }}">

    <div class="eds-vista__fly-image eds-vista__fly-image-ginepro">
        <img src="/assets/ginepro.png" />
    </div>
    <div class="eds-vista__fly-image eds-vista__fly-image-rosa-canina">
        <img src="/assets/rosa-canina.png" />
    </div>
    <div class="eds-vista__fly-image eds-vista__fly-image-gin">
        <img src="/assets/bottle-gin.png" />
    </div>


    <div class="eds-vista__fly-image eds-vista__fly-image-bacche">
        <img src="/assets/bacche-ginepro-home.png" />
    </div>
    <div class="eds-vista__fly-image eds-vista__fly-image-rametto">
        <img src="/assets/rametto-ginepro-home.png" />
    </div>



    <div class="eds-vista__hero-wrapper eds-width--c10">

        <div class="eds-vista__hero-text">
            {% for line in content.headline|split('<br>') %}

            <div class="eds-vista__hero-line">
                <span>{{ line|replace({'Gin': '<b>Gin</b>'})|raw }}</span>
            </div>

            {% endfor %}
        </div>

        <div class="eds-vista__hero-image">


        </div>


    </div>

    <div class="eds-vista__intro-wrapper eds-width--c12">


        <div class="eds-vista__intro-text">


            <div class="eds-vista__intro-text-headline">
                <h2>
                    <span>{{ content.title_1 }}</span>
                </h2>
            </div>

            <div class="eds-vista__intro-text-container">
                {{ content.text_1|raw }}
            </div>


        </div>


        <div class="eds-vista__intro-spacer">

        </div>



        <div class="eds-vista__intro-text">


            <div class="eds-vista__intro-text-headline">
                <h2>
                    <span>{{ content.title_2 }}</span>
                </h2>
            </div>

            <div class="eds-vista__intro-text-container">
                {{ content.text_2|raw }}
            </div>

        </div>


    </div>

</div>