<div class="eds-vista">
    <div class="eds-vista__hero-wrapper eds-width--c10">

        <div class="eds-vista__hero-text">
            {% for line in content.headline|split('<br>') %}

            <div class="eds-vista__hero-line">
                <span>{{ line|replace({'Gin': '<b>Gin</b>'})|raw }}</span>
            </div>

            {% endfor %}
        </div>

        <div class="eds-vista__hero-image">

            <img src="/assets/bottle-gin.png" />

        </div>


    </div>

    <div class="eds-vista__intro-wrapper eds-width--c12">


        <div class="eds-vista__intro-text">


            <div class="eds-vista__intro-text-headline">
                <h2>
                    <span>{{ content.title_1 }}</span>
                </h2>
            </div>

            <div class="eds-vista__intro-text-container">
                {{ content.text_1|raw }}
            </div>


        </div>


        <div class="eds-vista__intro-spacer">

        </div>



        <div class="eds-vista__intro-text">


            <div class="eds-vista__intro-text-headline">
                <h2>
                    <span>{{ content.title_2 }}</span>
                </h2>
            </div>

            <div class="eds-vista__intro-text-container">
                {{ content.text_2|raw }}
            </div>

        </div>


    </div>

</div>